<component name="ArtifactManager">
  <artifact type="war" name="springcloudfeign:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springcloudfeign.war">
      <element id="artifact" artifact-name="springcloudfeign:war exploded" />
    </root>
  </artifact>
</component>